GHCR_OWNER=astro-masters

APP_PORT=8080

API_BASE_DEV_IMAGE=ghcr.io/astro-masters/symfony-rr:8.4-dev
APP_IMAGE=ghcr.io/astro-masters/project-api:prod

PHP_IDE_CONFIG=serverName=symfony-rr
XDEBUG_MODE=debug,develop
XDEBUG_CLIENT_HOST=host.docker.internal
XDEBUG_CLIENT_PORT=9003
XDEBUG_IDEKEY=PHPSTORM
